/*CYAN 0
#e3fafc
CYAN 1
#c5f6fa
CYAN 2
#99e9f2
CYAN 3
#66d9e8
CYAN 4
#3bc9db
CYAN 5
#22b8cf
CYAN 6
#15aabf
CYAN 7
#1098ad
CYAN 8
#0c8599
CYAN 9
#0b7285*/



*{
margin: auto;
padding: auto;
box-sizing: border-box;
}

.element{
padding-top:20rem ;
 animation: pulse 300s infinite; } 
  
  @keyframes pulse { 0%{ background-color: #1dc300; }
   100% { background-color:#c5f6fa; } } 
  
/* html, body   { height: 100%; }    */



}


body{position: relative;}

.top{
				width: 100%;
				height: 3.5rem;
				background-color: #1098ad;
				position: fixed;
			}
			
.logo{
				position: absolute;
				top: -5px;
				left: 5px;
	
}


.rotate{
				height: 30rem;
				width: 100%;
				background-color:#66d9e8 ;								
}


.wheel {
  border: 2px solid f;
 
  position: absolute;
  height: 55vw;
  width: 55vw;
  max-width: 500px;
  max-height: 500px;
  animation-name: wheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 4rem;  
  margin-top: 5rem;  
}


.star{
			border-radius: 100px;
}

.line {
  background-color: ;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}

.line:nth-of-type(2) {
  transform: rotate(60deg);
}
.line:nth-of-type(3) {
  transform: rotate(120deg);
}
.line:nth-of-type(4) {
  transform: rotate(180deg);
}
.line:nth-of-type(5) {
  transform: rotate(240deg);
}
.line:nth-of-type(6) {
  transform: rotate(300deg);
}

.cabin {
 
  width: 20%;
  height: 20%;
  position: absolute;
  border: 2px solid;
  transform-origin: 50% 0%;
  animation: cabins 2s ease-in-out infinite;
  border-radius: 50%;
  background-color: transparent;
}

.cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}
.cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}
.cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}
.cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}

@keyframes wheel {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}

@keyframes cabins {
  0% {
    transform: rotate(0deg);
  }
  25% {
    /* background-color: yellow; */
  }
  50% {
    /* background-color: green; */
  }
70% {
    /* background-color: blue; */
  }

  /* 100% {background-color: red; */
    transform: rotate(-360deg);
  }
}










.adisa-telecom-logo{
				
/*
animation-name: slidein;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;*/




/*
animation-name: adisa-telecom-logo;
animation-duration: 0.5s;
animation-iteration-count:3;
animation-timing-function: linear;
*/	
} 

/*@keyframes adisa-telecom-logo{ 
				0%{transform: rotate(0deg);}
				100%{transform: rotate(360deg);}
}

@keyframes slidein{
from{ 
				margin-left:300px; 
}

to{
				margin-right: 300px;
}		
		}
*/



.welcome{
	background-color: #1e5f00;	
	width: 90%;
	height: 25rem;	
	border-radius: 10%;	
}

.header{
				text-align: center;
				padding-top: 1.7rem;
				color: #fff;
				font-weight: bold;
}


.header1{
			
				text-align: center;
				padding-top: 1rem;
				color: #fff;
				font-weight: bold;
}


.intro{
				text-align: center;
				margin-top: 3rem;
				font-weight: bold;
				color: white;
}


.button1{
				height: 3rem;
				width: 7rem;
				border-radius: 50px;
				margin-top: 3rem;
				margin-left: 4.6rem;
				border: 2px solid #1e5f00;
				color: #1e5f00;
				font-family: sans-serif;
				font-weight: bold;
}

.button2{
				height: 3rem;
				width: 7rem;
				border-radius:50px;
				border: 2px solid #1e5f00;
				color: #1e5f00;
				font-family: sans-serif;
				font-weight: bold;
}

.about{
				color: #1e5f00;
				text-align: center;
				font-weight: bold;
				padding-top: 5rem;
				font-size: 20px;
}

.automated{
				width: 90%;
				height: 20rem;
				background-color: #1e5f00;
				color: white;
				text-align: center;
				margin-top: 2rem;
				font-weight: bold;
			  
}

 
 
.cut{
          line-height: 2rem;
          margin: 0 2rem;
				margin-top: 2rem;
}


.relaible{
		      width: 90%;
				height: 20rem;
				background-color: #1e5f00;
				color: white;
				text-align: center;
				margin-top: 3rem;
				font-weight: bold;
			   border-radius: 10px;		
}





.support{
		    	width: 90%;
				height: 20rem;
				background-color: #1e5f00;
				color: white;
				text-align: center;
				margin-top: 3rem;
				font-weight: bold;
			   border-radius: 10px;			
}




.safe{
				width: 90%;
				height: 20rem;
				background-color: #1e5f00;
				color: white;
				text-align: center;
				margin-top: 3rem;
				font-weight: bold;
			   border-radius: 10px;		
}


.img,
.img-text{
				margin-top: 1rem; }


/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Container for the slideshow */
.slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

ig{
				height: 10rem;
				width: 10rem;
}

/* Individual slide */
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 5s ease infinite;
  transform: translateX(100%); /* Initially, the slides are outside the screen */
}

/* Keyframes for the sliding animation */
@keyframes slideIn {
  0% {
    transform: translateX(-100); /* Start position (outside the screen) */
  }
  100% {
    transform: translateX(0); /* End position (sliding in from the right) */
  }
}

