
*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
}

body{background-color:#e6e6e6;
	position: relative;			
}

.top{/*
				background-color: #ffffff;
				height: 50px;
				width: 100%;
				position: fixed;
				position: absolute;*/
}



.login{
background-color:#ffffff; 
margin-top: 22px;
margin-right: 18px;
margin-left: 18px;
padding-bottom: 400px;
position: relative;
margin-bottom: 20px;
	
}


.logo{
margin-left:41px;
   
}			

.sign-in{
	
	font-size: 30px;
  color: green;
  position: absolute;
  top: 150px;
  left: 150px;
}


.information{
	position: absolute;	
	top: 200px;
  margin-left: 30px;
  margin-top: 20px;
}



.username{
color: green;
margin-bottom: 5px;
font-weight: bold;				
}

#username{
	margin-bottom: 15px;	
	height: 35px;	
	width: 300px;	
   border: 2px solid green;
   border-radius: 7px;
   
}

.password{
color: green;
	margin-bottom: 5px;
	font-weight: bold;			
}

#password{
		margin-bottom: 15px;
	height: 35px;
	width: 300px;
	color: green;
	border: 2px solid green;	
	border-radius: 7px;
	
}

#eye{
				width: 30px;
				height: 30px;
				position: absolute;
				right: 16px;
}



.forget{
	margin-bottom: 15px;
	color: red;
	text-decoration-color:green;
	text-decoration: none;
	

}

#signin{
		height: 50px;		
		width: 100px; 
		margin-top: 15px;
		font-weight: bold;
		background-color: green;
		color: #fff;
		border-radius:15px;
}





.section{
				margin-left: 30px;
				display: flex;
        	position: absolute;
        	top: 500px;
}


.notice{
		color: green;
		font-weight: bold;
		}
		
		
		
.link{
			color: red;
			text-decoration: none;
			text-decoration-color: green;
		
}
